body{
    width: 80vw;
    margin: auto;
}
section{
    display: grid;
    grid-template: 100px 100px 100px / 100px 100px 100px;
}
div{
    color: #acacac;
    text-align: center;
    background-color: #F2F2F2;
    margin: 10px;
    padding: 30% 0px;
}