body{
    width: 60%;
    margin: auto;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #F2F2F2;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
div{
    margin-top: 25px;
    text-align: center;
}
a{  
    text-decoration: none;
    background-color:lightblue;
    margin: 10px;
    padding: 8px;
    border: 0px;
    border-radius: 3px;
    color: #262626;
}